*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    list-style: none;
    scroll-behavior: smooth;
}

/* This section is new */

body{
    background: var(--bg-color);
    color: var(--text-color);
    margin: 0;
    padding: 0;
}
:root{
    --bg-color: #2a2a2a;
    --second-bg-color: #202020;
    --text-color: #fff;
    --second-color: #ccc;
    --main-color: #ff4d05;
    --big-font: 5rem;
    --h2-font: 3rem;
    --p-font: 1.1rem:
}
.logo{
    color: var(--text-color);
    font-size: 35px;
    font-weight: 700;
    letter-spacing: 1px;
}
span{
    color: var(--main-color);
}

section{
    padding: 160px 15% 120px;
}

.home{
    position: relative;
    height: 100vh;
    width: 100%;
    background-image: url(./paving-banner.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
img{
    width: 30em;
    height: 30em;
}

.slide{
    margin-bottom: 20px;
}
.one{
    display: inline-block;
    margin-right: 15px;
    height: 32px;
    padding: 0 15px;
    line-height: 32px;
    font-size: 20px;
    font-weight: 500;
    border-radius: 5px;
    background-color: var(--main-color);
    color: var(--text-color);
}
.home-text h1{
    font-size: var(--big-font);
    font-weight: 700;
    color: var(--text-color);
    list-style: 1.1;
    margin: 0 0 8px;
}
.home-text h3{
    color: var(--text-color);
    margin: 0 0 35px;
    font-size: 3rem;
    font-weight: 700;
    line-height: 1.1;
}
.home-text p{
    color: var(--second-color);
    font-size: var(--p-font);
    line-height: 1.8;
    margin-bottom: 40px;
}
.button{
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.btn{
    display: inline-block;
    padding: 12px 28px;
    background: var(--main-color);
    border-radius: 5px;
    color: var(--text-color);
    font-size: 1rem;
    letter-spacing: 1px;
    font-weight: 600;
    transition: all .45s ease;
}
.btn:hover{
    transform: scale(0.9);
}
.header.sticky{
    background-color: var(--bg-color);
    border-bottom: 1px solid #ffffff1a;
    padding: 12px 15%;
}

.about{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 1.5rem;
}

.about-img img{
    max-width: 530px;
    height: auto;
    width: 100%;
    border-radius: 8px;
}
.about-text h2{
    font-size: var(--h2-font);
    line-height: 1;
}
.about-text p{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: var(--second-color);
    font-size: var(--p-font);
    line-height: 1.8;
    margin-bottom: 4rem;
}

.about-text h4{
    font-size: 24px;
    font-weight: 600;
    color: var(--text-color);
    line-height: 1.7;
    margin: 15px 0 30px;
}

/* this section is for serivces */

.services{
    background: var(--second-bg-color);
}
.main-text{
    text-align: center;
}
.main-text p{
    color: var(--second-color);
    font-size: 15px;
    margin-bottom: 15px;
}
.main-text h2{
    font-size: var(--h2-font);
    line-height: 1;
}
.service-content p{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.service-content{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px, auto));
    align-items: center;
    gap: 2.5rem;
    margin-top: 5rem;
}
.box{
    background: var(--bg-color);
    padding: 35px 45px;
    border-radius: 8px;
    transition: all .45s ease;
}
.s-icons i{
    font-size: 32px;
    margin-bottom: 20px;
}
.box h3{
    font-size: 24px;
    font-weight: 600;
    color: var(--text-color);
    margin-bottom: 15px;
}
.box p{
    color: var(--second-color);
    font-size: 1rem;
    line-height: 1.8;
    margin-bottom: 25px;
}
.read{
    display: inline-block;
    padding: 8px 18px;
    background: #3333;
    color: var(--second-color);
    font-weight: 14px;
    border-radius: 8px;
    transition: all .45s ease;
}
.read:hover{
    letter-spacing: 1px;
    background: #ffffff99;
    color: var(--text-color);
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
}

/* This section is for contact page */

.contact{
    background: var(--second-bg-color);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2.5rem;
}

.contact-text h4{
    color: var(--text-color);
    margin: 18px 0;
    font-size: 20px;
    font-weight: 600;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.contact-text h2{
    font-size: var(--h2-font);
    line-height: 1;
}
.contact-text p{
    color: var(--second-color);
    font-size: var(--p-font);
    line-height: 1.8;
    margin-bottom: 30px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.list{
    margin-bottom: 2.8rem;
}
.list li{
    margin-bottom: 12px;
}
.list li a{
    display: block;
    color: var(--second-color);
    font-size: 14px;
    transition: all .45s ease;
}
.list li a:hover{
    color: var(--text-color);
    transform: translateX(5px);
}
.contact-icon i{
    height: 45px;
    width: 45px;
    background: var(--main-color);
    color: var(--text-color);
    font-size: 22px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    margin-right: 15px;
    transition: all .45s ease;
}
.contact-icon i:hover{
    background: var(--text-color);
    color: var(--main-color);
}
.contact-form form{
    position: relative;
}
.contact-form input, textarea{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.contact-form form input, form textarea{
    width: 100%;
    padding: 14px;
    background: var(--bg-color);
    color: #ff4d05;
    border: none;
    outline: none;
    font-size: 15px;
    border-radius: 8px;
    margin-bottom: 10px;
}
.contact-form textarea{
    resize: none;
    height: 240px;
}
.contact-form .submit{
    display: inline-block;
    font-size: 16px;
    background: var(--main-color);
    color: var(--text-color);
    width: 160px;
    transition: all .45s ease;
}
.contact-form .submit:hover{
    transform: scale(1.1);
    cursor: pointer;
}

/* THis section is the end */
.end{
    padding: 20px 15%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    background: var(--bg-color);
}
.last-text p{
    color: var(--second-bg-color);
    font-size: 14px;

}

/* Done section */

.brand-title{
    font-size: 1.5em;
    margin: 0.5em;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.navbar-links ul{
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-links li{
    list-style: none;
    transition: all .45s ease;
}

.navbar-links li a{
    text-decoration: none;
    color: white;
    padding: 1rem;
    display: block;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.navbar-links li:hover{
    background-color: #555;
    transform: scale(0.9);
}

.toggle-button{
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar{
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

@media only screen and (max-width: 500px){
    .toggle-button{
        display: flex;
    }
    
    .navbar-links{
        display: none;
        width: 100%;
    }

    .navbar{
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-links ul{
        width: 100%;
        flex-direction: column;
    }
    .navbar-links li{
        text-align: center;
    }

    .navbar-links li a{
        padding: .5rem 1rem;
    }
    .navbar-links.active{
        display: flex;
    }
    .background-img{
        height: 300px;
        width: 23em;
        background-size: cover;
        background-image: url(./paving-banner.jpg)
    }
    .call-button{
        display: flex;
    }
}

@media (max-width: 1480px){
    section{
        padding: 110px 3% 60px;
    }
    .end{
        padding: 15px 3%;
    }
};
@media (max-width: 1100px){
    :root{
        --big-font: 4rem;
        --h2-font: 2.5rem;
        --p-font: 1rem;
        transition: .1s;
    }
    .home-text h3{
        font-size: 2.5rem;
    }
    .home{
        height: 87vh;
    }
}
@media (max-width: 920px){
    .about{
        grid-template-columns: 1fr;
    }
    .about-img{
        text-align: center;
        order: 2;
    }
    .about-img img{
        width: 100%;
        height: auto;
        max-width: 100%;
    }
    .contact{
        grid-template-columns: 1fr;
    }
}

    

.call-button{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    position: absolute;
    top: 10%;
    left: 48%;
    transform: translate(-50, -50);
    border-radius: 6px;
    display: inline-block;
    padding: 0.5em 1.5em;
    outline: 1px solid #808080;
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
}

.call-button:hover{
    color: white;
    transition: 0.5s;
    background-color: #666666;
}

.background-img{
    height: 700px;
    width: 72em;
    margin: 1em;
    background-size: cover;
    background-image: url(./paving-banner.jpg)
}

.Secondpage{
    background-color: white;
    height: 20em;
    padding-top: 0;
}